body {
    margin: 0px;
    padding: 0px;
    background-color: #F3F3F3;
}

div {
    box-sizing: border-box;
}

.menu-bar {
    float:left;
    position: absolute;
    height: 100vh;
    width: 170px;
    background-color: #494CB4;
    color: white;
    padding: 25px;
    font-size: 20px;
    transform: translateX(-120px);
    transition: all 0.5s;
}

.menu-bar i {
    transform: translateX(105px);
    margin-right: 5px;
    transition: all 0.5s;
}

.menu-bar span {
    display: inline-block;
    transform: translateX(-40px);
    transition: all 0.5s;
}

.menu-bar:hover {
    transform: translateX(0px);
}

.menu-bar:hover i {
    transform: translateX(0px);
}

.menu-bar:hover span {
    transform: translateX(0px);
}



nav {
    width: 100%;
    height: 50px;
    margin-bottom: 3px;
    display: flex;
    background-color: white;
    z-index: 1;
}

.search-box {
    width: 50%;
    height: 100%;
    padding-left: 70px;
}

form {
    box-sizing: border-box;
    height: 100%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

input {
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    width: 210px;
    border: 1px solid #D3D9DF;
    transition: all 0.5s;
}

button {
    height: 100%;
    width: 35px;
    box-sizing: border-box;
    color: white;
    background-color: #343A40;
    border:none;
    font-size: 16px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateX(-41px);
}

input:focus {
    width: 300px;
}

.profile-box {
    width: 50%;
    height: 100%;
    font-size: 17px;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.font-small {
    font-size: 9px;
}


.dashboard {
    width: 100%;
    height: 500px;
}