body {
    margin: 0px;
    padding: 0px;
    background-color: #F3F3F3;
}

div {
    box-sizing: border-box;
}

.menu-bar {
    float:left;
    position: absolute;
    height: 100vh;
    width: 170px;
    background-color: #494CB4;
    color: white;
    padding: 25px;
    font-size: 20px;
    transform: translateX(-120px);
    transition: all 0.5s;
}

.menu-bar i {
    transform: translateX(105px);
    margin-right: 5px;
    transition: all 0.5s;
}

.menu-bar span {
    display: inline-block;
    transform: translateX(-40px);
    transition: all 0.5s;
}

.menu-bar:hover {
    transform: translateX(0px);
}

.menu-bar:hover i {
    transform: translateX(0px);
}

.menu-bar:hover span {
    transform: translateX(0px);
}



nav {
    width: 100%;
    height: 50px;
    margin-bottom: 3px;
    display: flex;
    background-color: white;
    z-index: 1;
}

.search-box {
    width: 50%;
    height: 100%;
    padding-left: 70px;
}

form {
    box-sizing: border-box;
    height: 100%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

input {
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    width: 210px;
    border: 1px solid #D3D9DF;
    transition: all 0.5s;
}

button {
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    color: white;
    background-color: #343A40;
    border:none;
    font-size: 16px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateX(-36px);
}

input:focus {
    width: 270px;
}

.profile-box {
    width: 50%;
    height: 100%;
    font-size: 17px;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.font-small {
    font-size: 9px;
}


.dashboard {
    background-color: #FAFAFA
    ;
    width: 100%;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 20px;
    height: calc(100vh - 50px);
}

h2 {
    font-weight: bold;
}

.row {
    margin: 0;
    width: 100%;
}



.box {
    height: 100px;
    border: none;
    background-color: white;
    display: flex;
}

.clr-sky {
    width: 3px;
    height: 100%;
    border-top-left-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    background-color: #87CEEB;
}

.clr-green {
    width: 3px;
    height: 100%;
    border-top-left-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    background-color: #43CA5D;
}

.clr-blue {
    width: 3px;
    height: 100%;
    border-top-left-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    background-color: #494CB4;
}

.clr-yellow {
    width: 3px;
    height: 100%;
    border-top-left-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    background-color: #FFCB55;
}

.txt {
    width: 75%;
    padding: 10px;
}

.txt p {
    font-size: 14px;
}

.txt h4 {
    font-weight: bold;
}

.icn {
    width: calc(25% - 3px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    color : #808080
}



@media screen and (max-width: 992px) {
    .search-box {
        /*display : none;*/
    }

    .profile-box {
        /*display : none;*/
    }
}